#!{{ ansible_python['executable'] }}

# Copyright (C) 2020 CipherMail B.V. <https://www.ciphermail.com/>
# Copyright (C) 2020 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-or-later

# {{ ansible_managed }}

from json import dumps
import os
import subprocess


def cmd_exists(cmd):
    return any(
        os.access(os.path.join(path, cmd), os.X_OK)
        for path in os.environ['PATH'].split(os.pathsep)
    )


output = {}
output['server_installed'] = cmd_exists('upsd')
output['client_installed'] = cmd_exists('upsc')

if output['server_installed']:
    output['server_version'] = subprocess.check_output(
        ['upsd', '-V'], stderr=subprocess.STDOUT
    ).decode('utf-8').split(' ')[4].replace('\n', '')

print(dumps(output, sort_keys=True, indent=4))
